body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

sup {
    font-size: 0.6em;
}

.wrapper {
    margin: auto;
    max-width: 960px;
}

header {
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-line {
    padding: 16px 0;
    background-color: #1f1f56;
}

.header-line_nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;
    width: 970px;
}

.header-line_nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.header-line li {
    display: inline-block;
    transition: 0.5s;
}

.header-line a {
    padding: 0 12px;
    color: #b1b2d1;
    text-decoration: none;
    transition: 0.5s;
}

.header-line_nav a:hover {
    color: #fd8300;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;
}

.social a:hover {
    transform: scale(1.2)
}

.social a {
    display: block;
    padding: 0;
    background: url(../img/sprite.png);
    transition: .5s;
}

a.facebook:hover,
a.twitter:hover,
a.instagram:hover {
    background-position-y: -21px;
}

.social li:nth-child(1) {
    height: 19px;
}

.social li:nth-child(2) {
    height: 13px;
}

.social li:nth-child(3) {
    height: 17px;
}

a.facebook {
    width: 10px;
    height: 21px;
}

a.facebook :hover {
    background-position: 0 -22;
}

a.twitter {
    width: 18px;
    height: 17px;
    background-position: -13px 0;
}

a.instagram {
    width: 19px;
    height: 21px;
    background-position: -33px 0;
}

.header-info {
    padding: 15px 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info a {
    color: #25252c;
    text-decoration: none;
}

.phone-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 19px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -44px;
    transform: translateY(-50%);
}

.phone a {
    display: block;
    color: #25252c;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.phone {
    margin: 0;
}

.phone a:first-child {
    padding-left: 27px;
    margin-bottom: 12px;
}

.phone a:last-child {
    padding-left: 27px;
}

.email-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 17px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -21px;
    background-position-y: -47px;
    transform: translateY(-50%);
}

.email a {
    position: relative;
    margin-bottom: 15px;
    text-decoration: underline;
}

.email-skype p,
.emails-skypes p {
    margin: 15px;
}

.email-skype {
    padding-left: 20px;
}

.emails-skypes p {
    margin-top: 0;
}

.email-skype a,
.emails-skypes a {
    padding-right: 35px;
    color: #25252c;
    text-decoration: none;
}

.skype-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 18px;
    height: 19px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -40px;
    background-position-y: -44px;
    transform: translateY(-50%);
}

.skype a {
    position: relative;
}

.button a {
    display: inline-block;
    padding: 15px;
    width: 200px;
    color: #25252c;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    border-radius: 25px;
    box-sizing: border-box;
}

.button a:hover {
    color: #fd8300;
}

.button a {
    transition: all 1s ease;
}

.main-picture {
    padding: 55px 0;
    text-align: center;
    opacity: 0.9;
    background: url(../img/picture.png);
    background-size: cover;
    background-color: black;
}

.about-company {
    padding-top: 30px;
}

.text p {
    width: 677px;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.text h1,
.houses h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 24px;
    color: #24242b;
}

.text {
    margin-bottom: 25px;
}

.header-text a {
    color: #fd8300;
    font-weight: bold;
    font-size: 14px;
}

.header-text a:hover {
    color: #24242b;
    transition: .5s;
}

.header-text {
    margin-bottom: 34px;
}

hr {
    margin-bottom: 25px;
    border: none;
    border-top: 1px solid #e4e4ec;
}

.offer b {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
    letter-spacing: 2px;
    text-transform: uppercase;
}

.offer p {
    font-family: "Roboto Slab";
}

.offer i {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
}

.price b {
    color: #fd8300;
    font-size: 40px;
    font-weight: bold;
    line-height: 24px;
}

.price i {
    color: #fd8300;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    font-style: normal;
}

.houses figure {
    margin: 0;
}

.houses .two {
    padding: 0 28px;
}

.houses-for-sale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
}

.houses-for-sale a {
    color: #1f1f56;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.houses-for-sale a:hover {
    text-decoration: underline;
}

.houses-for-sale p {
    margin: 0;
    margin-bottom: 3px;
    color: #9999a6;
    font-size: 13px;
}

.open_1 .finished {
    border: none;
}

.open_1 .last {
    border: none;
}

.open_1 .last:hover {
    border-radius: 0 0 3px 3px;
}

.around p {
    margin: 0;
    padding: 15px;
    color: #fff;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
}

.around a:hover {
    color: #fff;
    background-color: #fd8300;
    border-color: transparent;
}

.around li {
    width: 100%;
}

.around:last-child {
    border-radius: 0 0 3px 3px;
}

.open {
    display: none;
}

aside .open a {
    padding-left: 30px;
    color: #666;
}

.open a:hover {
    background-color: #cecedd;
}

.around {
    height: min-content;
    width: 220px;
    background-color: #e4e4ec;
}

li:hover ul {
    display: block;
}

.around ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.around a {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #25252c;
    text-decoration: none;
    border-bottom: 1px solid #cdcddd;
}

span {
    display: inline-block;
    height: 6px;
    width: 6px;
    border: 1px solid #666;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    transition: .5s;
}

li :hover span {
    transform: rotate(45deg);
}

.one-part a:hover,
.two-part a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.houses h2 {
    font-size: 24px;
}

figcaption h3 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
}

.houses-for-sale figure {
    margin: 0;
}

.general li {
    padding-right: 30px;
    list-style: none;
}

.general {
    background-color: #ededf5;
}

.one-part a,
.two-part a {
    color: #666;
    text-decoration: none;
}

.general ul {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.find {
    padding: 35px 0;
}

.find li {
    margin-bottom: 10px;
}

.copy {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #9999a6;
    background-color: #dcdce6;
}