
header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.header-line_nav {
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
}

.button a {
    transition: all 1s ease;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;
}

.social a {
    display: block;
    padding: 0;
    background: url(../img/sprite.png);
    transition: .5s;
}

a.facebook:hover,
a.twitter:hover,
a.instagram:hover {
    background-position-y: -21px;
}

.social li:nth-child(1) {
    height: 21px;
}

.social li:nth-child(2) {
    height: 19px;
}

.social li:nth-child(3) {
    height: 21px;
}

a.facebook {
    width: 10px;
    height: 21px;
}

a.facebook :hover {
    background-position: 0 -21;
}

a.twitter {
    width: 18px;
    height: 19px;
    background-position: -14px 0;
}

a.instagram {
    width: 20px;
    height: 21px;
    background-position: -32px 0;
}

.phone a {
    position: relative;
}

h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.comfort p {
    width: 942px;
    font-size: 14px;
    color: #666666;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #fff;
    font-weight: 700;
    background-color: #1f1f56;
}

th:not(:last-child) {
    text-align: left;
}

td {
    color: #666;
}

tr:hover td {
    color: #fff;
}

th:last-child,
td:last-child {
    padding-right: 15px;
    text-align: right;
}

th,
td {
    font-size: 14px;
    padding: 15px;
}

tr {
    box-shadow: inset 0px -1px 0px #cecedd;
    background-color: #e4e4ec;
}

tr:hover {
    background-color: #fd8300;
}

.name {
    width: 30%;
}

.hour {
    margin-bottom: 30px;
}
.chart {
    margin-bottom: 34px;
}

.time p {
    width: 942px;
    font-size: 13px;
    color: #666;
}

main a {
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
}

.houses-for-sale {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
}

.general li {
    list-style: none;
    padding-right: 55px;
}

.mails-skypes {
    padding-right: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.phones a {
    margin-bottom: 15px;
}

.copy {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #9999a6;
    background-color: #dcdce6;
}